<div class="container">
  <h1 style="text-align: center;">Melissa M. Jones, CFRE</h1>
  <h5 style="text-align: center;">
    Boston, MA<b> • </b
    ><a href="mailto:meljonescfre@gmail.com">meljonescfre@gmail.com</a>
    <b> • </b>
    <a href="https://www.linkedin.com/in/melissamjonescfre/"
      >linkedin.com/melissa-jones</a
    >
    <b> • </b>
    cell phone
  </h5>
  <hr />

  <br />

  <h2 style="text-align: center;">SUMMARY</h2>
  <h5 id="centerIt">
    Fundraising guru currently pursuing an Executive Certificate in Nonprofit
    Leadership at Harvard Kennedy School in Boston. Seeking CEO, ED, or fund
    development leadership role in St. Louis to begin summer 2020.
  </h5>

  <br />

  <h2>EXPERIENCE</h2>
  <hr />
  <div class="row" id="sluh">
    <div class="col-sm-8">
      <div class="row">
        &nbsp;&nbsp;&nbsp;
        <p id="formatColumns">
          <b>Vice President of Institutional Advancement</b>
        </p>
      </div>
    </div>
    <div class="col-sm-4">
      <p style="text-align: right;">
        2017 - 2019
      </p>
    </div>
  </div>
  <div class="row" id="sluh">
    <div class="col-sm-8">
      <div class="row">
        &nbsp;&nbsp;&nbsp;
        <p id="hidden">
          <b>Director of Advancement</b>
        </p>
      </div>
    </div>
    <div class="col-sm-4">
      <p style="text-align: right;">
        2013 - 2017
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <div class="row">
        &nbsp;&nbsp;&nbsp;
        <p id="formatColumns">
          <b>Director of Leadership Giving </b> <br />
          St. Louis University High School (SLUH), St. Louis, MO
        </p>
      </div>
    </div>
    <div class="col-sm-4">
      <p style="text-align: right;">
        2012 - 2013
      </p>
    </div>
  </div>
  <div class="col-sm-12">
    <ul>
      <li>
        Led $70M Go Forth campaign for SLUH: took campaign public in November
        2018 after three years in quiet phase and raised $57M in gifts and
        commitments as of August 31, 2019.
      </li>
      <li>
        Increased revenue from annual auction, Cashbah, 348% from $719,000 in
        2012 to $2.5M in 2018, with five years grossing over $1M annually.
      </li>
      <li>
        Carried portfolio of 190 major donors, prospective donors, etc., across
        the U.S. to cultivate, ask, and steward.
      </li>
      <li>
        Equipped team and oversaw all aspects of fundraising, marketing, and
        communications for the institution.
      </li>
      <li>
        Led the organization through transition to new President July 1, 2018,
        introducing him to the St. Louis community and his being new to the role
        and to fundraising, mentored/trained him for his work in philanthropy.
      </li>
      <li>
        Spearheaded the school’s Bicentennial planning and execution of events
        over an 18-month period.
      </li>
    </ul>
  </div>
  <br />
  <div class="row">
    <div class="col-sm-8">
      <div class="row">
        &nbsp;&nbsp;&nbsp;
        <p id="formatColumns2">
          <b>Vice President - Development </b> <br />
          World Chess Hall of Fame and Scholastic Center, St. Louis, MO
        </p>
      </div>
    </div>
    <div class="col-sm-4">
      <p style="text-align: right;">
        2011 - 2012
      </p>
    </div>
  </div>
  <div class="col-sm-12">
    <ul>
      <li>
        Garnered community support and created a solid development plan for two
        institutions new to St. Louis, having opened in 2008 and 2011 and funded
        primarily by their founder.
      </li>
    </ul>
  </div>
  <br />
  <div class="row">
    <div class="col-sm-8">
      <div class="row">
        &nbsp;&nbsp;&nbsp;
        <p>
          <b>Director of Development</b> <br />
          Jazz St. Louis, St. Louis, MO
        </p>
      </div>
    </div>
    <div class="col-sm-4">
      <p style="text-align: right;">
        2006 - 2011
      </p>
    </div>
  </div>
  <div class="col-sm-12">
    <ul>
      <li>
        Increased contributed income more than 135%.
      </li>
      <li>
        Implemented targeted strategies to reach new donors, increasing
        individual donors by 300%.
      </li>
      <li>
        Collaboratively solicited and obtained $2.5M lead gift for $10M capital
        campaign.
      </li>
      <li>
        Secured the organization’s first full season underwriter at $100,000 for
        2011-12.
      </li>
      <li>
        Procured $225,000 to co-commission an opera in jazz, Terence Blanchard’s
        Champion, with Opera Theatre of St. Louis, which premiered in 2013 and
        has been performed worldwide.
      </li>
      <li>
        Served as Board Liaison and on Nominating/Board Development, Finance,
        and Development Committees; provided oversight of strategic plan with
        assigned Board Member.
      </li>
      <li>Directed all PR and marketing related activities and staff.</li>
    </ul>
  </div>
  <br />
  <div class="row">
    <div class="col-sm-8">
      <div class="row">
        &nbsp;&nbsp;&nbsp;
        <p id="formatColumns2">
          <b>Development Director</b> <br />
          St. Louis City Court Appointed Special Advocates, St. Louis, MO
        </p>
      </div>
    </div>
    <div class="col-sm-4">
      <p style="text-align: right;">
        2001 - 2002
      </p>
    </div>
  </div>
  <div class="col-sm-12">
    <ul>
      <li>
        Directed all aspects of fundraising to generate $650,000 in annual
        contributed income.
      </li>
      <li>
        Planned and led strategic planning process, PR, marketing, speakers’
        bureau, and publicity activities.
      </li>
      <li>
        Supervised volunteer management staff and infused energy into volunteer
        recruitment and retention strategies.
      </li>
    </ul>
  </div>
  <br />
  <div class="row">
    <div class="col-sm-8">
      <div class="row">
        &nbsp;&nbsp;&nbsp;
        <p>
          <b>Manager, Volunteer and Family Services</b> <br />
          St. Louis Children’s Hospital, St. Louis, MO
        </p>
      </div>
    </div>
    <div class="col-sm-4">
      <p style="text-align: right;">
        1999 - 2000
      </p>
    </div>
  </div>
  <div class="col-sm-12">
    <ul>
      <li>
        Directed recruitment, selection, placement, orientation, and supervision
        of 500+ volunteers.
      </li>
      <li>
        Created innovative programs and special events for patients, siblings,
        and families.
      </li>
      <li>
        Designed and pitched corporate and civic volunteer recruitment
        partnerships.
      </li>
    </ul>
  </div>
  <br />
  <div class="row" id="bcbs">
    <div class="col-sm-8">
      <div class="row">
        &nbsp;&nbsp;&nbsp;
        <p id="hidden">
          <b>Corporate Compliance Manager</b>
        </p>
      </div>
    </div>
    <div class="col-sm-4">
      <p style="text-align: right;">
        1997 - 1999
      </p>
    </div>
  </div>
  <div class="row" id="bcbs">
    <div class="col-sm-8">
      <div class="row">
        &nbsp;&nbsp;&nbsp;
        <p id="hidden">
          <b>Occupational Services Administrator</b>
        </p>
      </div>
    </div>
    <div class="col-sm-4">
      <p style="text-align: right;">
        1996 - 1997
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <div class="row">
        &nbsp;&nbsp;&nbsp;
        <p id="formatColumns">
          <b>Human Resource Specialist II </b> <br />
          Blue Cross and Blue Shield of Missouri, St. Louis, MO
        </p>
      </div>
    </div>
    <div class="col-sm-4">
      <p style="text-align: right;">
        1995 - 1996
      </p>
    </div>
  </div>
  <div class="col-sm-12">
    <ul>
      <li>
        Created corporate-wide training programs to raise awareness of critical
        ethical, legal, and regulatory issues, such as HIPAA and Medicare.
        Facilitated training sessions in small groups for 3,000 employees
        statewide. Designed and delivered quarterly presentations to senior
        executive staff and the Ethics Steering Committee.
      </li>
      <li>
        Managed compliance and cross-functional teams, budget, and activities to
        promote an ethical company culture, improve business processes, and
        minimize risk to the organization.
      </li>
      <li>
        Wrote or revised company code of ethics, procedures, and corporate
        governance policies to increase employee awareness of ethical and legal
        factors.
      </li>
      <li>
        Developed and presented management training programs, advised managers
        and human resource representatives, administered employee medical
        leaves, and secured reasonable accommodations to ensure compliance with
        employment laws and regulations, such as FMLA, ADA, and Workers’
        Compensation.
      </li>
      <li>
        Acted as liaison for the employee assistance program, facilitated
        employee/manager disputes, and referred employees for
        evaluation/assessment to appropriate providers.
      </li>
    </ul>
  </div>
  <br />
  <div class="row">
    <div class="col-sm-8">
      <div class="row">
        &nbsp;&nbsp;&nbsp;
        <p id="formatColumns3">
          <b>Student Venture Field Staff/Volunteer Manager</b> <br />
          Campus Crusade for Christ International, Indianapolis, IN
        </p>
      </div>
    </div>
    <div class="col-sm-4">
      <p style="text-align: right;">
        1988 - 1995
      </p>
    </div>
  </div>
  <div class="col-sm-12">
    <ul>
      <li>
        Cultivated and sustained loyal donor relationships with portfolio of
        400+ monthly donors through individualized attention, monthly
        newsletters, and special events.
      </li>
      <li>
        Recruited, oriented, trained, and managed new field staff and
        volunteers.
      </li>
      <li>
        Raised financial support for personal, city, and national budgets and
        international expansion.
      </li>
      <li>
        Produced and presented motivational and educational programs to young
        people, their families, and teachers.
      </li>
      <li>
        Mentored high school and junior high students one-on-one and in small
        group settings.
      </li>
    </ul>
  </div>
  <br />
  <h2>EDUCATION & ASSESSMENTS</h2>
  <hr />
  <div class="row">
    <div class="col-sm-12">
      <ul>
        <li>
          Harvard Kennedy School Executive Education Nonprofit Leadership
          Certificate, 2020-2022
        </li>
        <li>
          CFRE International Certified Fundraising Executive (CFRE) credential
        </li>
        <li>
          Lindenwood University BA in HR Management Summa Cum Laude, 4.0 GPA
        </li>
        <li>
          MBTI: INTJ; Predictive Index: Venturer; Top 5 CliftonStrengths:
          Empathy, Activator, Connectedness, Input, Strategic
        </li>
      </ul>
    </div>
  </div>
  <br />
  <h2>VOLUNTEERISM & PROFESSIONAL AFFILIATIONS</h2>
  <hr />
  <div class="row">
    <div class="col-sm-12">
      <ul>
        <li>
          Member, Marketing and Communications Committee, Women in Development
          of Greater Boston, 2019 - Present
        </li>
        <li>
          Member, Association of Fundraising Professionals Massachusetts
          Chapter, 2019 - Present
        </li>
        <li>Volunteer, The Greater Boston Food Bank, 2019 - Present</li>
        <li>
          Member, Board/Executive Committee, Mentor, Association of Fundraising
          Professionals St. Louis, 2000 - 2019
        </li>
        <li>
          Member, Spirit of St. Louis Women’s Fund; Board Member 2010 - 2014, PR
          Committee Chair
        </li>
        <li>Board Member, JOY FM radio station, 2004 - 2010</li>
        <li>
          Leadership Team, Friend 2 Friend Women’s Organization, 2002 - 2006
        </li>
        <li>
          Presenter, Council for Advancement and Support of Education (CASE) and
          Jesuit Schools Network (JSN) Conferences
        </li>
      </ul>
    </div>
  </div>
</div>
