<div class="container">
  <h1 style="text-align: center;">Christian Timothy Jensen</h1>
  <h5 style="text-align: center;">
    St. Louis, MO<b> • </b
    ><a href="mailto:devjensen91@gmail.com">devjensen91@gmail.com</a>
    <b> • </b>
    <a href="https://www.linkedin.com/in/christian-jensen-b0b4a7126/"
      >linkedin.com/christian-jensen</a
    >
    <b> • </b>
    <a href="https://github.com/Zubat-Horde">github.com/zubat-horde</a>
  </h5>
  <hr />

  <br />

  <h2 style="text-align: center;">OBJECTIVE</h2>
  <h5>
    Professional software developer with a passion for learning new
    technologies. Adept at both front and back end development with the desire
    to grow and learn in both aspects. Team player and self-motivated with a
    positive and forward-thinking attitude. Looking to join the right team that
    shares a similar passion that will allow me to continue to grow my
    ever-increasing skill set.
  </h5>

  <br />

  <h2>TECHNICAL SKILLS</h2>
  <hr />
  <div class="row">
    <div class="col-sm-4">
      <p><b>Frontend</b></p>
    </div>
    <div class="col-sm-8">
      <div class="row" id="skills">
        <p>Angular</p>
        <p style="color: green;">**</p>
        &nbsp;
        <p>JavaScript</p>
        <p style="color: green;">**</p>
        &nbsp;
        <p>Lightning Web Components</p>
        <p style="color: green;">**</p>
        &nbsp;
        <p>ASP .NET Webforms</p>
        <p style="color: green;">**</p>
        &nbsp;
        <p>Visualforce</p>
        <p style="color: orange;">*</p>
        &nbsp;
        <p>React.js</p>
        <p style="color: orange;">*</p>
        &nbsp;
        <p>Vue.js</p>
        <p style="color: orange;">*</p>
        &nbsp;
        <p>Blazor</p>
        <p style="color: orange;">*</p>
        &nbsp;
        <p>Bootstrap 4</p>
        <p style="color: green;">**</p>
        &nbsp;
        <p>HTML5</p>
        <p style="color: green;">**</p>
        &nbsp;
        <p>CSS</p>
        <p style="color: green;">**</p>
        &nbsp;
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <p><b>Backend</b></p>
    </div>
    <div class="col-sm-8">
      <div class="row" id="skills">
        <p>C#</p>
        <p style="color: green;">**</p>
        &nbsp;
        <p>.NET Core</p>
        <p style="color: green;">**</p>
        &nbsp;
        <p>Node.js</p>
        <p style="color: green;">**</p>
        &nbsp;
        <p>Apex</p>
        <p style="color: orange;">*</p>
        &nbsp;
        <p>Java</p>
        <p style="color: orange;">*</p>
        &nbsp;
        <p>Express.js</p>
        <p style="color: orange;">*</p>
        &nbsp;
        <p>Nest.js</p>
        <p style="color: orange;">*</p>
        &nbsp;
        <p>C# Web API 2</p>
        <p style="color: orange;">*</p>
        &nbsp;
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <p><b>ORM</b></p>
    </div>
    <div class="col-sm-8">
      <div class="row" id="skills">
        <p>Entity Framework</p>
        <p style="color: green;">**</p>
        &nbsp;
        <p>Dapper</p>
        <p style="color: green;">**</p>
        &nbsp;
        <p>Hibernate</p>
        <p style="color: orange;">*</p>
        &nbsp;
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <p><b>Database</b></p>
    </div>
    <div class="col-sm-8">
      <div class="row" id="skills">
        <p>SQL Server</p>
        <p style="color: green;">**</p>
        &nbsp;
        <p>MySQL</p>
        <p style="color: orange;">*</p>
        &nbsp;
        <p>SOQL</p>
        <p style="color: orange;">*</p>
        &nbsp;
        <p>MongoDB</p>
        <p style="color: orange;">*</p>
        &nbsp;
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <p><b>Cloud</b></p>
    </div>
    <div class="col-sm-8">
      <div class="row" id="skills">
        <p>Microsoft Azure</p>
        <p style="color: green;">**</p>
        &nbsp;
        <p>Amazon Web Services</p>
        <p style="color: orange;">*</p>
        &nbsp;
        <p>Heruko</p>
        <p style="color: orange;">*</p>
        &nbsp;
        <p>GitHub Pages</p>
        <p style="color: orange;">*</p>
        &nbsp;
      </div>
    </div>
  </div>
  <br />
  <div class="row" id="skills">
    <div class="col-sm-8"></div>
    <div class="col-sm-4">
      <div class="row">
        <p style="font-size: 12px; padding-top: 5px;">Working Knowledge</p>
        <p style="color: green;">**</p>
        &nbsp;
        <p style="font-size: 12px; padding-top: 5px;">Basic Knowledge</p>
        <p style="color: orange;">*</p>
      </div>
    </div>
  </div>
  <br />
  <h2>PROFESSIONAL EXPERIENCE</h2>
  <hr />
  <div class="row">
    <div class="col-sm-8">
      <div class="row">
        &nbsp;&nbsp;&nbsp;
        <img id="hideLogo" src="" style="height: 60px;" />
        &nbsp;
        <p id="hidden">
          <b>Mid-Level Developer</b> <br />
          Keeley Companies, St. Louis, MO
        </p>
      </div>
    </div>
    <div class="col-sm-4">
      <p style="text-align: right;">
        July 2019 - Present
      </p>
    </div>
  </div>
  <div class="col-sm-12">
    <ul>
      <li>
        Part of a new three-person software development team that is starting
        from scratch. Tasked with defining new processes and pick technologies
        for the team. Currently developing in Angular, .Net Core with Dapper,
        SQL Server, and Salesforce. Utilizing all of Azure’s services for
        hosting, database management, source control, CICD, and Kanban boards.
        Following Agile principles with daily standups and biweekly sprints.
      </li>
      <li>
        Created a web app that allows HR to better manage their Union Worker
        Employment Contracts. It uses Salesforce's API to read and write to
        their 3rd party vendor, who is built on Salesforce, to track new
        employees and update existing ones as they are hired.
      </li>
      <li>
        Developed a web app, utilizing redux, that acts as a landing page for
        Corporate to better manage their processes.
      </li>
      <li>
        Contributed to the full rewrite of a broken legacy app. Fixing bugs,
        creating maintainable code, and using new technology.
      </li>
      <ul>
        <li>
          App took a two day process and cut the time down to 1-2 minutes.
        </li>
      </ul>
      <li>
        Developed a custom app inside of Salesforce using Lightning Web
        Components (LWC) that allows users to track meetings with their clients.
      </li>
    </ul>
  </div>
  <br />
  <div class="row">
    <div class="col-sm-8">
      <div class="row">
        &nbsp;&nbsp;&nbsp;
        <img src="" style="height: 60px;" />
        &nbsp;
        <p>
          <b>Programming Tutor</b> <br />
          UMSL, St. Louis, MO
        </p>
      </div>
    </div>
    <div class="col-sm-4">
      <p style="text-align: right;">
        May 2019 - Present
      </p>
    </div>
  </div>
  <div class="col-sm-12">
    <ul>
      <li>
        Tutors college students in Java, C#, Angular, JavaScript, SQL, and other
        various languages as needed.
      </li>
      <li>
        Mentors first time programmers and helps them learn how to code and best
        practices.
      </li>
      <li>
        Encourages students to pursue new technology and points them in the
        right direction for self-learning.
      </li>
    </ul>
  </div>
  <br />
  <div class="row">
    <div class="col-sm-8">
      <div class="row">
        &nbsp;&nbsp;&nbsp;
        <img src="" style="height: 60px;" />
        &nbsp;
        <p>
          <b>CLX Developer Level 1</b> <br />
          Opti-Port, St. Louis, MO
        </p>
      </div>
    </div>
    <div class="col-sm-4">
      <p style="text-align: right;">
        August 2018 - July 2019
      </p>
    </div>
  </div>
  <div class="col-sm-12">
    <ul>
      <li>
        Was part of a seven-person .Net development team that used Mercurial
        Source Control, developed in ASP.Net Webforms, Entity Framework, & SQL
        Server, and implemented Agile focused, bi-weekly sprints using Jira.
      </li>
      <li>
        Worked with third-party practice management systems to maintain and
        develop integrations for soft contact lens ordering.
      </li>
      <li>
        Contracted by parent company Essilor to code their “Free Suns” project.
        A subscription service with automated email/text communications that was
        developed using ASP.Net Webforms, Entity Framework, and SQL Server.
      </li>
    </ul>
  </div>
  <br />
  <div class="row">
    <div class="col-sm-8">
      <div class="row">
        &nbsp;&nbsp;&nbsp;
        <img src="" style="height: 60px;" />
        &nbsp;
        <p>
          <b>CLX Jr. Developer</b> <br />
          Opti-Port, St. Louis, MO
        </p>
      </div>
    </div>
    <div class="col-sm-4">
      <p style="text-align: right;">
        October 2017 - August 2018
      </p>
    </div>
  </div>
  <div class="col-sm-12">
    <ul>
      <li>
        Coded a project inside our main product called “CLX Integration Lite”.
        This project opened the door to hundreds of new clients that were
        previously unreachable empowering the sales team to generate more
        revenue.
      </li>
      <li>
        Led the migration plan to move all users to the newest version of CLX.
        Wrote a complex script within Microsoft SQL Server that gathered all of
        the Client’s information and moved them from version 2.0 to 3.0 of CLX.
      </li>
      <li>
        Headed the conversion from Jira’s HipChat to Slack. Transferred all the
        data from HipChat into Slack and personally trained the company on how
        to utilize Slack efficiently.
      </li>
      <li>
        Collaborated with the Customer Support team and maintained a Jira ticket
        system for them
      </li>
    </ul>
  </div>
  <br />
  <div class="row">
    <div class="col-sm-8">
      <div class="row">
        &nbsp;&nbsp;&nbsp;
        <img id="hideImg" src="" style="height: 60px;" />
        &nbsp;
        <p id="onHide">
          <b>CLX Onboarding Specialist & Customer Support</b> <br />
          Opti-Port, St. Louis, MO
        </p>
      </div>
    </div>
    <div class="col-sm-4">
      <p style="text-align: right;">
        December 2016 - August 2018
      </p>
    </div>
  </div>
  <div class="col-sm-12">
    <ul>
      <li>
        Coordinated system integration with the client IT teams to ensure
        projects are assigned, documented, and completed.
      </li>
      <li>
        Supported both prospects and customers, responding to questions from
        incoming calls, emails, and web-based communications.
      </li>
      <li>
        Worked closely with the IT, Sales, and Marketing teams to relay valuable
        information about client interactions and feedback to improve messaging
        and product functionality.
      </li>
      <li>
        Documented all client and prospect interaction in the CRM platform with
        relevant, detailed information for accurate, usable record keeping.
      </li>
    </ul>
  </div>
  <br />
  <h2>VOLUNTEER EXPERIENCE</h2>
  <hr />
  <div class="row">
    <div class="col-sm-8">
      <div class="row">
        &nbsp;&nbsp;&nbsp;
        <img src="" style="height: 60px;" />
        &nbsp;
        <p>
          <b>Committee Member</b> <br />
          UMSL|Hack, St. Louis, MO
        </p>
      </div>
    </div>
    <div class="col-sm-4">
      <p style="text-align: right;">
        April 2018 - Present
      </p>
    </div>
  </div>
  <div class="col-sm-12">
    <ul>
      <li>
        Part of a five-member student led governing committee that leads and
        plans UMSL|Hack that brings in 50 - 100 students.
      </li>
      <li>
        Helps with Marketing, Planning, Logistics, Fundraising, Sponsor
        Engagement, and running the event.
      </li>
      <li>
        Maintains UMSL|Hacks vision which is to provide a safe learning
        environment for college students during their first hackathon while
        having tons of fun.
      </li>
    </ul>
  </div>
  <br />
  <h2>EDUCATION</h2>
  <hr />
  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        &nbsp;&nbsp;&nbsp;
        <img id="hideImg" src="" style="height: 85px;" />
        &nbsp;
        <p id="onHide">
          <b>University of Missouri - St. Louis</b> <br />
          Master of Science in Information Systems, GPA 4.0, Expected Graduation
          date December 2022<br />
          Bachelor of Science in Information Systems, GPA 3.54
        </p>
      </div>
    </div>
  </div>
  <br />
  <h2>COMMUNITY INVOLVEMENT</h2>
  <hr />
  <div class="row">
    <div class="col-sm-6">
      <ul>
        <li>UMSL Women’s Hackathon (Since 2017) – Mentor</li>
        <li>Code Till Dawn User Group (Since 2018) – Member</li>
        <li>Dev Up Conference (Since 2016) – Participant</li>
        <li>St. Louis .NET User Group (Since 2016) - Member</li>
      </ul>
    </div>
    <div class="col-sm-6">
      <ul>
        <li>The STLX 2019 Conference - Participant</li>
        <li>UMSL|Hack (Since 2018) - Mentor</li>
        <li>HealthHackSTL 2018 – Participant</li>
        <li>Rock ‘n’ Roll Half Marathon 2017 – Participant</li>
      </ul>
    </div>
  </div>
</div>
